doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    //angular stuff
    script(src='../javascripts/libs/angular.min.js')
    //load the d3.js library  
    script(src='http://d3js.org/d3.v3.min.js')  
    //skyRider stuff
    script(src='../javascripts/app/graphController.js')
    
  body(ng-app='skyRider')
    script(src='../javascripts/app/graphProvider.js')
    button(type='button' onclick='getGraph("http://localhost:3000/api/temperature/getTemperature")') Get values online
    button(type='button' onclick='getGraph("http://localhost:3000/api/temperature/getTemperatureByDB")') Get values from DB
    block content
